*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  max-width: 1440px;
}

.link {
  color: #62b8e1;
  display: inline;
  text-decoration: none;
}

header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

.logo-wrap {
  width: 55%;
}

.menu-wrap {
  width: 45%;
}

.logo-img {display: flex;
  justify-content: right;
}

.background-img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url("../img/daft_punk_7-wallpaper-2880x1800@1X.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.img-film {
  width: 62.43%;
  padding-top: 28%;
  padding-bottom: 28%;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-card {
  height: 480px;
  width: 50%;
}
.background-face {
  background-image: url("../img/webwill@1X.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-face::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #172d45;
  opacity: 0.9;
}

.background-face .disc-face {
  height: 50%;
  position: relative;
}

@media (max-width: 768px) {
  .item-card {
    width: 100%;
  }
}

.disc-card {
  background-image: url("../img/webwill@1X.png"), linear-gradient(red, yellow);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-card.text {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card.text .item-content {
  max-width: 430px;
  padding: 15px;
}

.item-card.text .name-card {
  font-size: 32px;
  color: rgba(37, 37, 37, 255);
}

.item-card.text .text-card {
  font-size: 18px;
  color: rgba(149, 149, 149, 255);
  margin-top: 30px;
  margin-bottom: 55px;
}

.background-disco {
  background-image: url("../img/deadmau5-cube@1X.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.follow-us {
  font-size: 14px;
  color: rgba(149, 149, 149, 255);
}

.card-height {
  height: 320px;
}

.card-flex {
  display: flex;
  justify-content: space-between;
}

.figure {
  font-size: 48px;
  color: rgba(37, 37, 37, 255);
}

.value {
  font-size: 16px;
  color: rgba(149, 149, 149, 255);
}

.max-width {
  width: 345px;
}


.photos {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}





.club {
  width: 16.66%;
  height: 50%;
}


.wrapper-insta {
  position: absolute;
  top: 41%;
  left: 33%;
}

.insta {
  max-width: 370px;
  width: 70%;
}

.many-photos .item-card {
  width: 100%;
}

@media (max-width: 768px) {
  .item-card {
    width: 100%;
  }

  .club {
    width: 33.33%;
    height: 25%;
  }

  .wrapper-insta {
    position: absolute;
    top: 41%;
    left: 33%;
  }

}






